<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit-icons.min.js"></script>

    <!-- Htmx -->
    <script src="https://unpkg.com/htmx.org@1.3.3" integrity="sha384-QrlPmoLqMVfnV4lzjmvamY0Sv/Am8ca1W7veO++Sp6PiIGixqkD+0xZ955Nc03qO" crossorigin="anonymous"></script>

    {% block style %}
    {% endblock %}

</head>
<body class="uk-background-secondary" uk-height-viewport>
{% block header %}
{% include 'fragments/header.html' %}
{% endblock %}
<div class="uk-container uk-flex uk-flex-center">
    {% block content %}
    {% endblock %}
</div>

{% block javascript %}
{% endblock %}
</body>
</html>
